@font-face {
    font-family: Script;
    src: url(fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: Text;
    src: url(fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: TextBold;
    src: url(fonts/CormorantGaramond-Bold.ttf);
}

@font-face {
    font-family: TextItalic;
    src: url(fonts/CormorantGaramond-Italic.ttf);
}

@font-face {
    font-family: Heading;
    src: url(fonts/Italiana-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Text';
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-size: 17px;
    color: #1c1c11;
}

a {
    text-decoration: none;
}

/* SEARCH FIELD */
#searchfield {
    margin-top: 10vh;
    margin-bottom: 16vh;
    padding-top: 2vh;
    padding-bottom: 7vh;
    text-align: center;
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-image: url(images/header.png);
}

h1 {
    font-family: Heading;
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 5px 5px #1c1c1189;
}

#search {
    width: 45vw;
    height: 5vh;
    font-family: 'TextItalic';
    font-size: 20px;
    padding-left: 2vw;

    border-style: none;
    box-shadow: 5px 5px 5px #1c1c1175;
}

#filterbuttons {
    margin-top: 5vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;
}

.filterbutton {
    width: 5vw;
    height: 5vw;
    background-color: #fff;

    border-style: none;
    box-shadow: 5px 5px 5px #1c1c1175;
    transition: all 0.5s ease;
}

.filterbutton:hover {
    background-color: #BC9116;
}

.filtericon {
    font-size: 25px;
    color: #BC9116;

    transition: all 0.5s ease;
}

.fa-person {
    font-size: 30px;
}

/* MAIN CONTENT */

main {
    padding-bottom: 8vh;
}

.entry {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #1c1c1126;
}

.togglebgcolor {
    background-color: #BC9116;
}

.togglecolor {
    color: #fff;
}

.hideNpcEntry {
    display: none;
}

.hideMonsterEntry {
    display: none;
}

.hideMagicEntry {
    display: none;
}

.hideEquipEntry {
    display: none;
}

.hidefromsearch {
    display: none;
}

.entryheader {
    background-color: #dadada;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0px 5px 15px #1c1c1124;
    margin-top: 6vh;
}

h2 {
    margin-left: 2vw;
    font-size: 25px;
}

.entryheader .fa-person {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

.entryheader .fa-wand-sparkles {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

.entryheader .fa-dragon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

.entryheader .fa-shield-halved {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

.entryheader .fa-plus {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;

    color: #818181;
    margin-left: auto;
    margin-right: 2vw;

    transition: all 0.3s ease;
}

.intox {
    transform: rotate(45deg);
}

p {
    margin: 0%;
    padding: 0%;
}

.italic {
    font-family: TextItalic;
}

.bold {
    font-family: TextBold;
}

/* STATBLOCK FORMATTING */
.title {
    font-size: 23px;
}

table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

th {
    padding-left: 1vw;
    padding-right: 1vw;
}

.block {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
    display: none;
    height: 0;
    transition: all 0.5s ease;
}

.statblock {
    display: flex;
    flex-wrap: nowrap;
    display: none;
}

.itemblock {
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.showstats {
    display: flex;
    height: auto;
}

.half1 {
    max-width: 50%;
}

.half2 {  
    max-width: 50%;
    margin-left: 2vw;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    margin-left: 0%;
}

/* .swordimg {
    width: 30vw;
} */